@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

* {
  box-sizing: border-box;
}
.logogrow {
    animation: grow 1.4s !important;
}
  
  @keyframes grow {
    0% {
      transform: scale(0) !important;
    }
    100% {
      transform: scale(1)!important;
    }
}


.logotext{
    font-family: 'Lilita One', sans-serif!important;
    text-align:center!important;
} 
.col.introtext{
  font-family: 'Lilita One', sans-serif!important;
  font-size:6em;
  margin-top:2%;
} 



.col-6.bodycontent{
  color:white !important;
  font-family:'Oswald', sans-serif !important;
  font-size:1.5em;
  left:40%;
  padding-top:40px;
}

.container.middle{
  position:relative;
}

.gallery{
  margin: 10px 50px;
  padding-top:50px;
}
.gallery img{
  transition: .3s;
  padding: 15px;
  width:280px;
}
.gallery img:hover{
  filter:grayscale(100%);
  transform: scale(1.2);
}
.thanks{
  color:white;
  z-index: 2;
  margin-left:60%;
  margin-top:6%;
}
.mainthanks{
  font-size:30px;
  margin-left:1%;
}
.subthanks{
  font-size:6px;
  margin-top: -2%;
}
.centerfy{
  margin-left:6%;
}
#typed{
  margin: 0 0 20px 50px;
  font-size: 30px;
  font-family: 'Lilita One', sans-serif;

}

@keyframes bordergrad{
  0%{
    border-color:rgb(24, 196, 235);
}
  20%{
    border-color:rgb(65, 199, 175);
}
  40%{
    border-color:rgb(232, 227, 77);
  }
  60%{
    border-color:rgb(244, 141, 76);
  }
  80%{
    border-color:rgb(223, 41, 75);
  }
  100%{
   border-color:rgb(24,196,235);
  }
}
.resumebutton{
  margin-top:50px;
  margin-right:50px;
  padding-bottom:30px;
  grid-area:rb;
}


@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* .education{
  margin: 0 0 0 50px;
} */
.unlist{
  list-style-type:none;
  padding-inline-start: 15px;
}
.typedcontain{
  height:30px;
}

/* ABOUT US GRID */
.main > div {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.main {
  height: 900px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 80px 40px 260px 50px 100px auto 0px ;
  grid-template-areas: 
  ". . . . . . . . . . . ."
  "r r r r r r r r . . . ."
  ". . . . . . . . . . . ."
  "b b b b b b b b b b . . "
  "e e e e e e s s s s s s"
  "wu wu wu wu wu wu sl sl sl sl sl sl"
  "jc jc jc jc jc jc sl sl sl sl sl sl"
  ". . . . . . . . . . . .";
}
.skills{
  grid-area:s; 
}
.resumename{
  font-size: 45px;
  font-family: 'Lilita One', sans-serif;
  animation: bordergrad 5s infinite;
  border-bottom: 2px solid;
}
.resume{
  grid-area: r;
  font-size:2.7em;
  margin: 0 0 0 50px;
}
.education{
  grid-area:e;
  margin: 0 0 0 50px;
}
.ed1{
  grid-area:wu;
  margin: 0 0 0 50px;
}
.ed2{
  grid-area:jc;
  margin: 0 0 0 50px;
}
.bio{
  grid-area:b;
  /* border-left: 2px black solid; */
  margin: 0 0 0 50px;
  font-size:1.7em;
}
.skilllist{
  grid-area: sl;
  font-size:1.3em;
}

/* CONTACT US GRID */
.contactcontain > div {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.contactcontain {
  height: 900px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px 80px 120px auto;
  grid-template-areas:
  ". . . . . . . . . . . ."
  ". . . . ch ch ch ch . . . ."
  ". . . . fd fd fd fd . . . ."
  ". . . . f f f f f . . .";
}
.contacthead{
  grid-area: ch;
  justify-content: center;
  font-family: 'oswald', sans-serif;
  letter-spacing: .2em;
  font-size:3em;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}
textarea.form-control{
  min-height:250px !important;
  
}
.form{
  grid-area:f;
}
.formdetails{
  grid-area:fd;
  justify-content: center;
  text-align:center;
  font-size:1.4em;
  font-family:'oswald', sans-serif;
  padding-top:20px;
}
/* PARALLAX */

.parallax {
  -webkit-perspective: 100px;
          perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 10%;
  left: 50%;
  right: 0;
  bottom: 0;
  margin-left: -1500px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background: rgb(45,17,43);
  background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgba(0, 0, 0,) 100%);
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%,rgba(0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%,rgba(0, 0, 0,) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d112b', endColorstr='#160505',GradientType=0 );
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 1000px;
  z-index: 3;
}

.parallax__layer__0 {
  -webkit-transform: translateZ(-400px) scale(4);
          transform: translateZ(-400px) scale(4);
}

.parallax__layer__1 {
  -webkit-transform: translateZ(-300px) scale(2.5);
          transform: translateZ(-300px) scale(2.5);
}

.parallax__layer__2 {
  -webkit-transform: translateZ(-200px) scale(3);
          transform: translateZ(-200px) scale(3);
}

.parallax__layer__3 {
  -webkit-transform: translateZ(-150px) scale(2);
          transform: translateZ(-150px) scale(2);
}

.parallax__layer__4 {
  -webkit-transform: translateZ(-100px) scale(2);
          transform: translateZ(-100px) scale(2);
}

.parallax__layer__4a {
  z-index:0;
  margin-left:60%;
  margin-top:20%;
  position:fixed;
}

.parallax__layer__5 {
  -webkit-transform: translateZ(-50px) scale(1.5);
          transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__6 {
  -webkit-transform: translateZ(0px) scale(1);
          transform: translateZ(0px) scale(1);
}


/*Particles*/

/* #particle1{
  animation: move 4s infinite;
}

@keyframes move{
  0%{
    transform: scale(5);
  }
  100%{
    transform:scale(0);
  }
}
#particle2{
  animation: move2 3s infinite;
  animation-delay: 1s;
}

@keyframes move2{
  0%{
    transform: scale(5);
  }
  100%{
    transform:scale(0);
    color:white;
    transform:translateY(100px);
  }
}
#particle3{
  animation: move3 2.5s infinite;
  animation-delay: .5s;
}

@keyframes move3{
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform:scale(0);
    color:white;
    transform:translateY(100px);
  }
}
#particle4{
  animation: move3 2.5s infinite;
  animation-delay: .5s;
}

@keyframes move3{
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform:scale(0);
    color:white;
    transform:translateY(100px);
  }
} */


/* MEDIA QUERIES */

@media screen and (max-width: 2100px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:51%;
    margin-top:6%;
  }

}
@media screen and (max-width: 1900px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:53%;
    margin-top:6%;
  }
}

@media screen and (max-width: 1700px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:58%;
    margin-top:6%;
  }
}
@media screen and (max-width: 1400px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:59%;
    margin-top:6%;
  }
    .bio{
    font-size:1.5em;
  }
}

@media screen and (max-width: 1200px){
  .col.introtext{
    font-size:6em;
    padding-top:10%;
    padding-right: 0px;
    padding-left:15px; 
    flex-basis:auto; 
}
  .navbar-brand{
    display:none!important;
  }
  .parallax{
    height:120vh;
  }
  .thanks{
    color:white;
    z-index: 2;
    margin-left:63%;
    margin-top:6%;
  }
  .centerfy{
    margin-left:6%;
  }
  .mainthanks{
    margin-left:1%;
  }
  .main {
    height: 900px;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 40px 80px 60px 300px 60px 60px 100px 50px auto;
    grid-template-areas: 
    ". . . ."
    "r r r r"
    ". . . ."
    "b b b b"
    "e e e e"
    "wu wu wu wu"
    "jc jc jc jc"
    "s s s s"
    "sl sl sl sl"
    ;
  }
  .resume{
    margin: 0 0 0 10px;
  }
  .education{
    margin: 0 0 0 10px;
  }
  .skills{
    margin: 0 0 0 10px;
  }
  .skilllist{
    margin: 0 0 0 50px;
  }
  .bio{
    font-size:1.5em;
    margin: 0 30px 0 10px;
  }
  .resumename{
    font-size:.8em;
    margin: 0 0 0 10px;
  }

}
@media screen and (max-width: 900px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:66%;
    margin-top:6%;
  }
  .bio{
    font-size:1.2em;
    margin: 0 0px 0 10px;
  }

}

@media screen and (max-width: 700px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:70%;
    margin-top:6%;
  }
  .bio{
    font-size:1.2em;
    margin: 0 30px 0 10px;
    padding-bottom:60px;
  }
  .skilllist{
    padding-top:40px;
  }
}

@media screen and (max-width: 600px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:72.5%;
    margin-top:6%;
  }
  .col.introtext{
    font-size:4em;
    padding-top:10%;
    padding-right: 0px;
    padding-left:15px; 
    flex-basis:auto; 
}
.parallax{
  height:100vh;
}
.skilllist{
  padding-top:40px;
}

}
@media screen and (max-width: 400px){

  .thanks{
    color:white;
    z-index: 2;
    margin-left:72.5%;
    margin-top:6%;
  }

  .col.introtext{
    font-size:6em;
    padding-top:10%;
    padding-right: 0px;
    padding-left:15px; 
    flex-basis:auto; 
    color:blue;
}
.parallax{
  height:100vh;
}
}