@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Rubik:400,500,700|Work+Sans:400,500,600&display=swap');

html, body {
  box-sizing: border-box;
  background-color:white;
  margin: 0 auto;
  font-family:'Open Sans Condensed', sans-serif;
  scroll-behavior: smooth;
  }
  .topbar > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.topbar{
  position: sticky;
  top: 0;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px;
  grid-template-areas: 
      "st . dd"; 
  width:100%;
  border-bottom:3px solid #333;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  z-index:1;
}
.topbar a{
  color:#fff;
}
.sticky1{
  grid-area:st;
  color:white;
  font-weight:900;
  font-size:1.2em;
  
}
.sticky2{
  grid-area:dd;
  text-align:center;
  color:white;
  font-weight:900;
  font-size:1.2em;
  
}


.maincontain > div {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#starters.maincontain{
  display:grid;
  height: 880px;
  width:100%;
  padding-top:25px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 100px 100px 100px 100px;
  grid-template-areas: 
    "mt mt mt mt mt mt mt mt mt mt mt mt "
    "ml ml ml ml ml ml ml ml ml ml ml ml"
    "ml ml ml ml ml ml ml ml ml ml ml ml"
    "ml ml ml ml ml ml ml ml ml ml ml ml"
    "ml ml ml ml ml ml ml ml ml ml ml ml";    
}
#salads.maincontain{
  display:grid;
  height: 350px;
  width:100%;
  padding-top:25px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto;
  grid-template-areas: 
    "mt mt mt mt mt mt mt mt mt mt mt mt"
    "ml ml ml ml ml ml ml ml ml ml ml ml";
}

#noodlesandrice.maincontain{
  display:grid;
  height: 945px;
  width:100%;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto;
  grid-template-areas: 
    "mt mt mt mt mt mt mt mt mt mt mt mt"
    "ml ml ml ml ml ml ml ml ml ml ml ml";
}

#stirfry.maincontain{
  display:grid;
  height: 100%;
  width:100%;
  padding-top:25px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto;
  grid-template-areas: 
    "mt mt mt mt mt mt mt mt mt mt mt mt"
    "ml ml ml ml ml ml ml ml ml ml ml ml";
}

#beverage.maincontain{
  display:grid;
  height: 100%;
  width:100%;
  padding-top:25px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto;
  grid-template-areas: 
    "mt mt mt mt mt mt mt mt mt mt mt mt"
    "ml ml ml ml ml ml ml ml ml ml ml ml";
}


.image-pop{
  grid-area:im;
}

.menutitle{
  font-size:2.5em;
  grid-area:mt;
  /* text-transform: uppercase; */
  font-family: 'Rubik', sans-serif;
  align-items:center;
  color:#333;
  letter-spacing: .1em;
  font-weight: 600;
}
.menulist{
  grid-area:ml;
  align-items:flex-start;
}
.menulist ul{
  padding-bottom:24px;
}
.menulist ul li {
  list-style-type: none;
  font-size:16px;
}
.dishtitle{
  font-size:18px;
  font-weight:700;
  line-height:26px;
}
.price{
  font-weight:700;
  font-size:18px;
  background: rgb(180,58,58);
  background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header{
  grid-area: h;
  align-items:flex-end;
}


/* Nav */

.nav > div {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.nav{
  display:grid;
  height: 30%;
  grid-gap:5px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px 60px auto;
  grid-template-areas: 
    ". h h h . . . . hrs hrs hrs hrs"
    ". s s s . . . . hrs hrs hrs hrs"
    "n n n n n n n n n n n n";
    
}

.nav1{
  grid-area:n;
  text-transform: uppercase;
  font-style:'Open Sans', sans-serif;
  background: rgb(0,0,0);
  background: linear-gradient(100deg, rgba(0,0,0,1) 0%, rgba(68,68,68,1) 100%);
  padding:1.2rem 1.5rem;
  display:none;
  

}
.navlist{
  display:flex;
  flex-direction: row;
  list-style-type: none;
}

.navlist a{
  color:#fff;
  font-size:21px;
  text-decoration: none;
}
.navlist li{
  text-align:center;
  margin:.5em 3em auto;
}

.navbar-toggle{
  display:none;
}

/* End of Nav */



.maintitle{
  font-weight:700;
  font-size:2.3em;
  margin:0;
  text-transform:uppercase;
  font-family: 'Alfa Slab One', cursive;
  letter-spacing: .09em;
  color:#333;
  text-align:center;
}

.hours{
  grid-area: hrs;
  text-align:right;
  align-items:center;
  font-family:'Open Sans', serif;
  font-weight:300;
  font-size:1.1em;
}

.subheader{
grid-area: s;
line-height:0em;
}

.subtitle{
  font-weight:300;
font-size:1em;
color:rgb(46, 46, 46);
text-transform:uppercase;
letter-spacing: 1em;
text-align:center;
}

.dashlogo{
  height:50px;
  margin-top:0;
}




.footer{
  grid-area: f;
  background-color:red;
}


@media (max-width:900px) {
  .nav{
    display:none;
    height: 30%;
    grid-gap:5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 120px 60px auto;
    grid-template-areas: 
      ". h h h . . . . hrs hrs hrs hrs"
      ". s s s . . . . hrs hrs hrs hrs"
      "n n n n n n n n n n n n";   
  }
  .navactive{
    display:grid;
  }
  .navlist{
    display:flex;
    flex-direction: column;
    list-style-type: none;
  }
  .navbar-toggle{
    display:block;
    position:absolute;
    top:10px;
    right:20px;
    cursor: pointer;
    color:#fff;
    font-size:25px;
    z-index:1;
  }

  .tabContainer .buttonContainer button{
    height:100%;
    font-size:1em;
  }

    .maintitle{
      font-weight:700;
      font-size:2.6em;
      margin:0;
      text-transform:uppercase;
      letter-spacing: .12em;
    }
    .subtitle{
      font-weight:300;
    font-size:1em;
    color:rgb(46, 46, 46);
    text-transform:uppercase;
    letter-spacing: .3em;
    text-align:center;
    }

}
@media (max-width:600px) {
  .topbar{
    grid-template-columns: repeat(1, 3fr);
    grid-template-rows: 50px;
    grid-template-areas: 
        "st st"

        "dd dd"; 
  }
  .sticky1,.sticky2{
    font-size:1em;
  }
  .sticky2{
    padding-bottom:.5em;
  }


  .nav1{
    font-size:.3em;
  }
  .dashlogo a img{
    height:25px;
  }
  .dashlogo{
    height:25px;
  }
  #starters.maincontain{
    height: 1150px;
  }
  #salads.maincontain{
    height: 450px;
  }
  
  #noodlesandrice.maincontain{
    height: 1260px;
  }
  
  #stirfry.maincontain{
    height: 1200px;
  }
  
  #beverage.maincontain{
    height: 100%;
  }
  .tabContainer .buttonContainer button{
    height:100%;
    font-size:1em;
  }
  .hours{
    font-size:.8em;
    text-align:center;
  }
  .maintitle{
    font-weight:700;
    font-size:1.7em;
    margin:0;
    text-transform:uppercase;
    letter-spacing: .08em;
    }
    .subtitle{
    font-weight:300;
    font-size:1em;
    color:rgb(46, 46, 46);
    text-transform:uppercase;
    letter-spacing: .3em;
    text-align:center;
    }
    .menutitle{
      font-size:1.5em;
      line-height:1.5em;
      text-decoration: underline;
      text-align:center;
    }
  }
  @media (max-width:580px) {
    .nav{
      display:none;
      height: 30%;
      grid-gap:5px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: 65px 20px 90px auto;
      grid-template-areas: 
        ". h h h h h h h h h h ."
        ". s s s s s s s s s s ."
        ". hrs hrs hrs hrs hrs hrs hrs hrs hrs hrs ."
        "n n n n n n n n n n n n";   
    }

    .navlist{
      padding-inline-start: 0px;
    }
    .navactive{
      display:grid;
    }
    .menulist ul li {
      font-size:.8em;
    }
    .menulist ul{
      padding-inline-start: 15px;
    }
    #starters.maincontain{
      height:880px;
    }
    #salads.maincontain{
      height:350px;
    }
    #noodlesandrice.maincontain{
      height:975px;
    }
    #stirfry.maincontain{
      height:920px;
    }
  }
